name: Quality Assurance

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    linters:
        runs-on: ubuntu-24.04
        strategy:
            matrix:
                command: [
                    "ruff . --config ruff.toml",
                    "ruff format . --check --config ruff.toml",
                    "mypy --config mypy.toml"
                ]
        steps:
            -   uses: actions/checkout@v4.1.1
            -   uses: ./.github/actions/setup_python_and_poetry
            -   uses: ./.github/actions/linters
                with:
                    command: ${{ matrix.command }}
    tests:
        runs-on: ubuntu-24.04
        strategy:
            matrix:
                python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13"]
                pydantic-version: [ "2.1", "2.10", "2.11" ]
                exclude:
                    - python-version: "3.13"
                      pydantic-version: "2.1"
        steps:
            -   uses: actions/checkout@v4.1.1
            -   uses: ./.github/actions/setup_python_and_poetry
                with:
                    python-version: ${{ matrix.python-version }}
            -   uses: ./.github/actions/tests
                with:
                    pydantic-version: ${{ matrix.pydantic-version }}
